body{
    font-family: Graphik Trial;
}
p{
    margin-bottom:0;
}
/********DESKTOP VERSIONE**********/
/*****HOME*******/
/*navbar*/
.navbar-brand img{
    width:60%;
}
.container-fluid{
    padding:0 5%;
}
.collapse{
    align-self:flex-end;
    justify-content:flex-end;
}
.navbar-nav{
    width:25%;
    justify-content:space-between;
}
.navbar{
    background-color:#F8F9FA!important;
    width:100%;
}
.nav-item a{
    font-size:1.1rem;
}

/*HEADER*/
.header-desk{
    background-image:url('/codice/img/desk/home/header.jpg');
    background-size:cover;
    height:80vh;
    display:flex;
    align-items:center;
    padding-left:5%;
    margin-bottom:150px;
}
.header-desk h1{
    width:35%;
    font-size:2.5rem;
    color: white;
}

/*Servizi*/
.serv-text{
    text-align:center;
    font-weight:400;
    margin-bottom:50px;
}

.service{
    width:80%;
    margin:0 auto;
    justify-content:space-between;
    margin-bottom:150px;
}

.card{
    border:none;
    border-radius:0;
    background-color:#DFE2E5;
    padding:1%;
    width:30%!important;
}
.card-img{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}
.card-img img{
    width:45%;
}
.card-title{
    font-size:1.2rem;
}
.card-text{
    font-weight:300;
    margin-bottom:20px;
}
.btn{
    background-color:#363A3F;
    border-radius:1px;
    border:0;
    padding: 0 15%;
    font-size:0.9rem;
    font-weight:300;
    align-self:flex-start;
}
.btn:hover{
    background-color:#272a2d;
}

/*MID1*/
.mid{
    background-color:#363A3F;
    margin-bottom:150px;
}
.mid-inter{
    width:60%;
    margin:0 auto;
    padding:4% 2%;
    color:white;
}
.mid-inter h2{
    margin-bottom:20px;
}
.mid-inter p{
    font-weight:200;
}
.txt-mid{
    height:Auto;
    padding:2% 4%;
    border-left:1px solid white;
}

/*stat*/
.stat{
    width:80%;
    margin:0 auto;
    justify-content:center;
    margin-bottom:150px;
}

.stat-item{
    width:50%;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
.stat-item img{
    width:25%;
}
.stat-item p{
    width:65%;
    font-size:1.1rem;
    font-weight:300;
}

/*Lavori*/
.mx-no{
    margin-bottom:20px;
}
.p-lav{
    width:43%;
    margin:0 auto;
    margin-bottom:50px;
}
.p-lav p{
    font-size:1.2rem;
    font-weight:300;
}


.carousel{
    justify-content:center!important;
    width:45%!important;
    margin:0 auto;
    margin-bottom:150px;
}
.carousel-item img{
    width:70%!important;
    margin:0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); 
}

/*MID2*/
.btn-invert{
    background-color:#D9D9D9;
    color:black;
    padding:0 6%;
}
.btn-invert:hover{
    background-color:#b0b0b0;
    color:black;
}
.mx-p{
    margin-bottom:20px;
}

/*SLIDEMOB*/
.slide-mob{
    width:70%;
    margin:0 auto;
    align-items:center;
    justify-content:space-between;
    margin-bottom:150px;
}
.carousel-mob{
    width:35%!important;
    margin:0!important;
}
.consu-home {
    width:60%;
    height:30vh;
    justify-content:space-between!important;
}
.btn-invert-cor{
    align-self:flex-start;
    padding:0.5% 10%;
    font-size:1.1rem;
}

/*FOOTER*/
.footer{
    padding:2% 5%;
    background-color:#363A3F;
    justify-content:space-between;
}
.footer1 img{
    width:18%;
}
.footer1{
    width:28%;
}
.footer p{
    color:white;
    font-weight:200;
    font-size:0.9rem;
}


/************SERVIZI*********/
/*Header*/
.header-desk-ser{
    background-image:url('/codice/img/desk/servizi/header.jpg');
    background-size:cover;
    height:85vh;
    margin-bottom:150px;
}
.cont-head img{
    width:25%;
}
.cont-head h1{
    color:white;
    text-align:center;
}
.cont-head{
    height:80vh;
}
.space{
    height:15vh;
}

/*SERVIZI*/
.serv-exp{
    width:85%; 
    margin:0 auto;
    margin-bottom:150px;
}

.number-ser{
    width:40%;
}
.number-ser h2{
    width:80%!important;
    font-size:1.8rem;
}
.number-ser img{
    width:15%;
}

.p-serv{
    width:50%;
    height:auto;
}
.p-serv ul{
    font-weight:300;
    list-style-type: disc;
    line-height:26px;
    margin-bottom:40px;
}
.p-serv-list p{
    font-weight:300;
}
.btn-serv-cor{
    padding:0.5% 10%;
    font-size:0.9rem;
}


/*MID*/
.mid-serv{
    background-color: #363A3F;
    margin-bottom: 150px;
}
.mid-cont-serv img{
    width:15%;
    margin-top:20px;
}
.mid-cont-serv h2{
    text-align:center;
    color:white;
    font-size:1.8rem;
}
.space-mid{
    height:12vh;
}


/*DOMANDE*/
.box-dom{
    width:55%;
    margin:0 auto;
}
.box-dom h2{
    font-size:1.8rem;
}

.accordion{
    margin-top:20px;
    margin-bottom:100px;
}
.accordion-button{
    background-color:#363A3F!important;
    color:white;
}
.accordion-button:hover{
    color:white;
}
.accordion-button::after {
    filter: invert(100%); 
}

/************CONTATTI**********/
/*HEADER*/
.header-cont{
    background-image:url('/codice/img/desk/contatti/header.jpg')!important;
    padding-left:15%;
}
.header-cont img{
    width:40%;
    height:80vh;
    margin-left:auto;
}
.title-cont{
    width:33%;
}
.title-cont p{
    color:white;
    font-weight:200;
    font-size:1.2rem;
}

/*I MIEI CONTATTI*/
.my-cont{
    width:70%;
    margin:0 auto;
    margin-bottom:50px;
}
.my-cont img{
    width:28%;
}
.my p{
    font-weight:300;

}

.my{
    width:60%;
    border-left:1px solid black;
    height:65vh;
    padding:4% 3%;
}
.my h2{
    font-size:2.2rem;
}
.big{
    font-size:1.2rem;
    font-weight:400;
}

.arrow-mid{
    margin-bottom:150px;
}
.arrow-mid img{
    width:5%;
}

/*FORM CONTATTO*/
.cont-form{
    width:42%;
    height:70vh;
    margin:0 auto;
    align-items:center;
    margin-bottom:80px;
}
.cont-form h2{
    font-size:1.8rem;
}
.ilform{
    width:75%;
}
.form-select{
    margin-bottom:15px;

    border:none;
    border-radius:0;
    background-color:#EAECEF;
    font-weight:200;
}


.mb-3 input{
    border:none;
    border-radius:0;
    background-color:#EAECEF;
    font-weight:200;

}
.form-check-label{
    font-size:0.8rem;
}
.btn-cont-cor{
    padding:1% 14%;
    font-size:0.9rem;
}
.form-select option{
    background-color:rgb(228, 228, 228);
    font-weight:300;
}



/*VAR MOBILE*/
.space-mob{
    display:none;
}


/****************MOBILE VERSION*******************/
@media(max-width:460px){
    /**********HOME********/
    /*NAVBAR*/
    .navbar-toggler{
        border:0;
    }
    
    .navbar-toggler-icon{
        width:2em;
    }

    /*HEADER*/
    .header-desk{
        background-image:url('/codice/img/mobile/home/header.jpg')!important;
        background-size:cover;
        height:72vh;
    }
    .header-desk h1{
        width:50%;
        font-size:2rem;
    }

    /*SERVIZI*/
    .service{
        flex-direction:column;
        align-items:center;
        height:200vh;
    }
    .card{
        width:90%!important;
        height:60vh;
    }
    .card-title{
        font-size:1.3rem;
    }
    .card-text{
        font-size:1.1rem;
    }
    
    .btn{
        align-self:center!important;
        font-size:1rem;
        padding:1% 26%;
    }

    /*MID1*/
    .mid-inter{
        width:80%;
        display:flex;
        flex-direction:center;
        align-items:center;
    }
    .txt-mid h2{
        font-size:1.8rem;
    }
    .txt-mid p{
        font-size:1.2rem;
    }
    .mid{
        height:90vh;
        display:flex;
        flex-direction:column;
        align-items:center!important;
        justify-content:center!important;
    }
    .txt-mid{
        padding:4% 0%;
        padding-left:8%;
    }

    /*STATISTICHE*/
    .serv-text{
        font-size:1.8rem;
    }

    .stat{
        flex-direction:column;
        width:85%;
        margin:0 auto;
        align-items:center;
        justify-content: space-between;
        height:80vh;
        margin-bottom:150px;
    }
    .stat-item{
        width:80%;
        flex-wrap:nowrap;
        margin-top:0;
    }
    .stat-item p{
        font-size:1.1rem;
        width:100%;
    }
    .stat-item img{
        width:35%;
    }

    /*LAVORI*/
    .p-lav{
        width:80%;
    }

    .carousel{
        width:95%!important;
    }
    .btn{
        padding:1% 30%;
        font-size:1.1rem;
    }

    /*SLIDE MOB*/
    .slide-mob{
        flex-direction:column-reverse;
        align-items:center!important;
        height:115vh;
        width:80%;
        flex-wrap:nowrap;
    }
    .consu-home{
        width:85%;
        height:38vh;
        padding:6% 8%;
        padding-right:0;
        border-left:1px solid black;
    }
    .btn-invert-cor{
        align-self:flex-start!important;
    }
    .consu-home h2{
        font-size:1.8rem;
    }
    .carousel-mob{
        width:100%!important;
    }

    /*FOOTER*/
    .footer{
        flex-direction:column;
        padding:8% 4%;
        height:50vh;
    }
    .footer p{
        font-size:1.1rem;
    }
    .footer1{
        flex-direction:column;
        width:70%;
    }
    .footer1 img{
        width:25%;
        margin-bottom:20px;
    }
    .space-mob{
        margin-top:20px;
        margin-bottom:20px;

        display:flex;
        height:0.1vh;
        width:90%;
        background-color:white;
    }


    /************SERVIZI*************/
    .cont-head h1{
        font-size:2rem;
    }
    
    .serv-exp{
        flex-direction:column;
        align-items:center!important;
    }
    .number-ser{
        margin-top:50px;
        width:90%;
        margin-bottom:40px;
    }
    .number-ser h2{
        font-size:1.5rem;
    }
    .p-serv{
        width:95%;
        align-items:center!important;
    }
    .p-serv-list{
        font-size:1.1rem;
    }

    /*MID 1*/
    .mid-cont-serv h2{
        font-size:1.5rem;
    }
    .mid-serv{
        margin-bottom:60px;
    }

    /*BOX DOMANDE*/
    .box-dom{
        width:90%;
    }
    .box-dom h2{
        font-size:1.5rem;
    }

    /************CONTATTI***********/
    /*HEADER*/
    .header-cont{
        background-image:url('/codice/img/mobile/contatti/header.jpg')!important;
        padding:0;
        align-items:flex-start!important;
        justify-content:center;
        height:85vh;
        margin-bottom:140px;
    }
    .header-cont img{
        display:none;
    }
    .title-cont{
        width:65%;
        align-items:center;
        margin-top:40px;
    }
    .title-cont h1{
        width:auto;
        margin-bottom:20px;
    }

    /*I MIEI CONTATTI*/
    .my-cont img{
        display:none;
    }

    .my-cont{
        width:80%;
        margin:0 auto;
        margin-bottom:50px;
    }
    .my{
        width:90%;
        margin:0 auto;
        border:none;
        align-items:center;
        height:55vh;
        padding:0;
    }
    .my p{
        font-size:1.1rem;
    }
    .space-mob-cor{
        background-color: black;
        width:100%!important;
    }

    .arrow-mid{
        margin-bottom:100px;
    }
    .arrow-mid img{
        width:10%;
    }


    /*FORM CONTATTO*/
    .cont-form {
        width:95%;
        height:75vh;
    }
    .cont-form h2{
        text-align:center;
        width:70%;
    }
    .form-check-label{
        margin-bottom:20px;
    }
    
}

/************IPAD VERSION************/
@media (min-width:768px) and (max-width:1024px){
    /************HOME*********/
    /*HEADER*/
    .header-desk{
        height:40vh;
    }
    .header-desk h1{
        width:55%;
    }

    /*CARD*/
    .serv-text{
        font-size:2.2rem;
    }
    .service{
        width:95%;
        height:55vh;
        flex-wrap:nowrap;
    }
    .card-img img{
        width:70%;
    }
    .card-title{
        font-size:1.3rem;
    }
    .card{
        width:31%!important;
    }
    .card-text{
        font-size:1.2rem;
        height:150px;
    }
    .btn{
        width:100%;
        font-size:1.1rem;
        padding:4% 0;
    }


    /*MID 1*/
    .mid-inter{
        width:80%;
    }
    .mid{
        height:60vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    .txt-mid h2{
        font-size:2.2rem;
    }
    .txt-mid p{
        font-size:1.5rem;
    }

    /*STATISTICHE*/
    .stat{
        width:90%;
        flex-direction:column;
        align-items:center;
        height:70vh;
        justify-content:space-between;
    }
    .stat-item{
        width:100%;
    }
    .stat-item img{
        width:20%;
    }
    .stat-item p{
        font-size:1.5rem;
    }

    /*SLIDE MOB*/
    .p-lav{
        width:70%;
    }
    .p-lav p{
        font-size:1.5rem;
    }

    /*CAROUSEL*/
    .carousel{
        width:90%!important;
    }

    /*MID2*/
    .btn-ipad{
        padding:2% 0;
        width:60%;
    }

    /*SLIDE MOB*/
    .slide-mob{
        flex-direction:column-reverse;
        height:95vh;
    }

    .consu-home h2{
        font-size:2.1rem;
        width:95%;
        align-self:center;
    }
    .consu-home{
        width:100%;
        height:28vh;
        border-left:1px solid black;
        padding:5% 4%;
    }
    .btn-invert-cor{
        font-size:1.2rem;
        width:90%;
        padding:2% 0;
        align-self:center;
    }

    /*FOOTER*/
    .footer{
        flex-direction:column;
        padding:8% 4%;
        height:50vh;
    }
    .footer p{
        font-size:1.3rem;
    }
    .footer1{
        flex-direction:column;
        width:70%;
    }
    .footer1 img{
        width:20%;
        margin-bottom:20px;
    }
    .space-mob{
        margin-top:20px;
        margin-bottom:20px;

        display:flex;
        height:0.1vh;
        width:90%;
        background-color:white;
    }


    /**********SERVIZI**********/
    /*HEADER*/
    .header-desk-ser{
        height:80vh;
    }
    .cont-head h1{
        font-size:2.5rem;
    }
    .cont-head img{
        width:33%;
    }

    /*SERVIZI*/
    
    .serv-exp{
        flex-direction:column;
        align-items:center!important;
        height:100vh;
    }
    .number-ser{
        margin-top:50px;
        width:90%;
        margin-bottom:40px;
    }
    .number-ser h2{
        font-size:2rem;
    }
    .p-serv{
        width:95%;
        align-items:center!important;
    }
    .p-serv-list p, li{
        font-size:1.5rem;
        line-height:35px;
    }
    .p-serv-list{
        height:auto;
    }
    .btn-serv-cor{
        width:80%!important;
        align-self:center!important;
        font-size:1.3rem;
        padding:2% 0;
    }
    .serv-exp-ipad{
        height:85vh;
    }

    /*MID SERV*/
    .space-mid-mob{
        height:10vh;
    }
    .mid-serv{
        height:30vh;
    }
    .mid-cont-serv h2{
        font-size:2.1rem;
    }

    /*BOX DOMANDE*/
    .box-dom{
        width:70%;
    }
    .box-dom h2{
        align-self:center;
        font-size:2.2rem;
    }
    .accordion-button{
        font-size:1.3rem;
    }
    .accordion-body{
        font-size:1.5rem;
    }


    /****************CONTATTI***************/
    /*HEADER*/
    .header-cont{
        background-image:url('/codice/img/mobile/contatti/header.jpg')!important;
        padding:0;
        align-items:flex-start!important;
        justify-content:center;
        height:85vh;
        margin-bottom:180px;
    }
    .header-cont img{
        display:none;
    }
    .title-cont{
        width:65%;
        align-items:center;
        margin-top:100px;
    }
    .title-cont h1{
        width:auto;
        margin-bottom:20px;
        font-size:3rem;
    }
    .title-cont p{
        font-size:1.6rem;
    }

    /*I MIEI CONTATTI*/
    .my{
        height:55vh;
        width:60%!important;
        padding-left:4%;
    }
    .my h2{
        font-size:2.5rem;
    }
    .my p{
        font-size:1.5rem;
    }
    .my-cont{
        width:90%;
        flex-wrap:nowrap;
        margin-bottom:100px;
    }
    .big{
        font-size:1.6rem;
    }
    .my-cont img{
        width:30%;
    }
    .arrow-mid img{
        width:10%;
    }

    /*FORM*/
    .cont-form{
        width:90%;
        height:45vh;
    }
    .cont-form h2{
        font-size:2.3rem;
    }
    .form-check-label{
        font-size:1.3rem;
    }
    

}